<nav id="navigate">
	<ul><li><a title="主页" href="{{ site.url.production }}" rel="me">:P</a></li><li><a title="博客" href="{{ site.url.production }}{{ site.path.blog }}" rel="me">Blog</a></li><li><a title="关于" href="{{ site.url.production }}{{ site.path.about }}">About</a></li><li><a title="分类" href="{{ site.url.production }}{{ site.path.categories }}">Cates</a></li><li><a title="标签" href="{{ site.url.production }}{{ site.path.tags }}">Tags</a></li><li><a title="归档" href="{{ site.url.production }}{{ site.path.archive }}">Archive</a></li><li><a title="Atom" href="{{ site.url.production }}{{ site.path.atom }}">A</a><a title="Rss" href="{{ site.url.production }}{{ site.path.rss }}">R</a><a title="Sitemap" href="{{ site.url.production }}{{ site.path.sitemap }}">S</a></li><li><a title="Fork on GitHub" href="{{ site.url.github }}" rel="external">Fork</a></li></ul>
</nav>
<footer id="copyright">
  <span>&copy;
  	<a href="{{ site.url.production }}" rel="me">perichr.org</a>
  Some Right Reserved.</span>
  <span>Powered by
 	 <a href="http://pages.github.com" rel="external">Github Pages</a>
  .</span>
  <span>(IE9+/Fx/Ch/Op)</span>
</footer>
