@import 'reset';
@import 'entry';

body{
padding-right:3em;
}

body>header{
position:fixed;
top:144px;
left:0;
bottom:0;
width:320px;
background-color:rgba(255,255,255,.2);
text-align:right;
box-shadow:0 0 1em black;
border-top-right-radius:1em;
}


#title{
margin-top:-144px;
padding:12px 6px 0 0;
display:block;
background:url(logo-trans.png) no-repeat center right;
height:144px;
overflow:hidden;
line-height:2em;
font-size:240%;
text-shadow:0 0 3px white;
}
#description{
padding:0 6px;
margin-top:-60px;
font-size:80%;
font-style:italic;
}
#navigate{
margin-top:72px;
font-size:.75em;
font-weight:bold;
}
#navigate ul{
margin-bottom:0;
padding:0;
}
#navigate li{
display:block;
clear:both;
float:right;
border-bottom-left-radius:.6em;
border-top-left-radius:.6em;
margin:.1em 0;
}
#navigate li:hover a{
min-width:8em;
text-align:center;
}
#navigate li:nth-child(7):hover a{
min-width:1.5em;
}
#navigate a{
display:inline-block;
padding:.5em 1em;
}


#content{
margin-left:360px;
min-height:12em;
max-width:60em;
}

#content>header>ul{
list-style: none;
margin: .5em 0;
padding: 0;
font-size: 75%;
}
#content>header>ul li{
display: inline-block;
}
#content>header>ul li:first-child{
border-top-left-radius:1em;
border-bottom-left-radius:1em;
}
#content>header>ul li:last-child{
border-top-right-radius:1em;
border-bottom-right-radius:1em;
}
#content>header>ul a{
display: inline-block;
text-decoration: none;
padding:.2em 1em;
}
#content>header>ul a:before{
content:'';
}
#content>header>ul a span{
display: none;

}

.posts li a{
display:inline;
}


body>footer{
font-size:75%;
padding:.5em 2em;
margin-left:312px;
margin-bottom:5em;
width:40em;
background-color:rgba(255,255,255,.2);
box-shadow:0 0 1em black;
border-top-right-radius:1em;
border-bottom-right-radius:1em;
}
#copyright a{
color:white;
text-decoration:none;
margin:.5em;
text-shadow:0 0 0.5em white;
}
#copyright a:hover{
text-shadow:0 0 0.1em white;
}



