body{
background:black url(background.jpg) fixed repeat top left;
color:white;
font-family:"微软雅黑",Arial;
padding-right:3em;
}
a{
color:white;
}

a{
text-decoration:none;
}
body>header a:hover{
text-decoration:underline;
}

body>header{
position:fixed;
top:144px;
left:0;
bottom:0;
width:320px;
background-color:rgba(255,255,255,.2);
text-align:right;
box-shadow:0 0 1em black;
border-top-right-radius:1em;
}


#title{
margin-top:-144px;
padding:12px 6px 0 0;
display:block;
background:url(logo-trans.png) no-repeat center right;
height:144px;
overflow:hidden;
line-height:2em;
font-size:240%;
text-shadow:0 0 3px white;
}
#description{
padding:0 6px;
margin-top:-60px;
font-size:80%;
font-style:italic;
}
#navigate{
margin-top:72px;
font-size:.75em;
font-weight:bold;
}
#navigate ul{
margin-bottom:0;
padding:0;
}
#navigate li{
display:block;
clear:both;
float:right;
border-bottom-left-radius:.6em;
border-top-left-radius:.6em;
margin:.1em 0;
}
#navigate li:hover a{
min-width:8em;
text-align:center;
}
#navigate li:nth-child(7):hover a{
min-width:1.5em;
}
#navigate a{
display:inline-block;
padding:.5em 1em;
}


#content{
margin-left:360px;
min-height:12em;
max-width:60em;
}
#content>header{
margin:3em 1em 2em 0;
}

#content h1{
font-size: 2.5em;
}
#content h2{
font-size: 1.5em;
}
#content h3{
font-size: 1em;
}




#content h1,#content h2,#content h3{
position: relative;
border-left:.2em solid red;
padding-left: 1.6em;
}
#content h1:before,#content h2:before,#content h3:before{
position: absolute;
left:0;
content:'　';
display: inline-block;
width:.2em;
border-left:.2em solid orange;
background-color: yellow;
border-right:.2em solid green;
}
#content h1:after,#content h2:after,#content h3:after{
position: absolute;
left:.6em;
content:'　';
width:.2em;
display: inline-block;
border-left:.2em solid blue;
background-color: indigo;
border-right:.2em solid purple;
}

#content>header>ul{
list-style: none;
margin: .5em 0;
padding: 0;
font-size: 75%;
}


article>ul{
	max-width: 40em;
}

.meta li{
display: inline-block;
border-radius:1em;
margin: .2em;
}

.meta a{
display: inline-block;
text-decoration: none;
padding:.1em 1em .2em 1em;
width: auto;
}
.meta a:before{
content:'';
}
.meta a span{
vertical-align: super; 
font-size: 60%;
}
.meta a span:before{
content:'(';
}
.meta a span:after{
content:')';
}

a span:after{
content: ' »  ';
}



li {
opacity:0.5;
}
li:hover{
opacity:1;
}
li:nth-child(7n+1){
background:red;
}
li:nth-child(7n+2){
color:black;
background:orange;
}
li:nth-child(7n+3){
color:black;
background:yellow;
}
li:nth-child(7n+4){
background:green;
}
li:nth-child(7n+5){
background:blue;
}
li:nth-child(7n+6){
background:indigo;
}
li:nth-child(7n){
background:purple;
}
li a{
display:block;
padding:.5em 1em;
color:white;
}
li:nth-child(7n+2) a{
color:black;
}
li:nth-child(7n+3) a{
color:black;
}

body>footer{
font-size:75%;
padding:.5em 2em;
margin-left:312px;
margin-bottom:5em;
width:40em;
background-color:rgba(255,255,255,.2);
box-shadow:0 0 1em black;
border-top-right-radius:1em;
border-bottom-right-radius:1em;
}
#copyright a{
color:white;
text-decoration:none;
margin:.5em;
text-shadow:0 0 0.5em white;
}
#copyright a:hover{
text-shadow:0 0 0.1em white;
}



