#content{
overflow-y:auto;
}
#content{
filter:alpha(opacity=50);
position:static;
}


#content li:first-child{
background:red;
}
#content li:first-child+li{
color:black;
background:orange;
}
#content li:first-child+li a{
color:black;
}
#content li:first-child+li+li{
color:black;
background:yellow;
}
#content li:first-child+li+li a{
color:black;
}
#content li:first-child+li+li+li{
background:green;
}
#content li:first-child+li+li+li+li{
background:blue;
}
#content li:first-child+li+li+li+li+li{
background:indigo;
}
#content li:first-child+li+li+li+li+li+li{
background:purple;
}
#content li:first-child+li+li+li+li+li+li+li{
background:red;
}
#content li:first-child+li+li+li+li+li+li+li+li{
color:black;
background:orange;
}
#content li:first-child+li+li+li+li+li+li+li+li a{
color:black;
}
#content li:first-child+li+li+li+li+li+li+li+li+li{
color:black;
background:yellow;
}
#content li:first-child+li+li+li+li+li+li+li+li+li a{
color:black;
}
#content li:first-child+li+li+li+li+li+li+li+li+li+li{
background:green;
}
#content li:first-child+li+li+li+li+li+li+li+li+li+li+li{
background:blue;
}
#content li:first-child+li+li+li+li+li+li+li+li+li+li+li+li{
background:indigo;
}
#content li:first-child+li+li+li+li+li+li+li+li+li+li+li+li+li{
background:purple;
}
#content li:first-child+li+li+li+li+li+li+li+li+li+li+li+li+li+li{
display:none;
}
