@charset "utf-8";
*{
	box-sizing: border-box;
	-moz-box-sizing:border-box;
}
html{
	height:100%;
	margin:0;
	padding:0;
	background: white url(bg.png) repeat scroll top;
}
body{
	margin:0 auto;
	padding:0;
	width:60em;
	height:100%;
	text-align:center;
	font-family: "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif; 
}


#siteinfo{
	display:none;
}

article{
	text-align:left;
	margin:0 0 3em 0;
	padding:.1em 1em 1em 1em;
}

#cates a:before{
	content:"["
}
#cates a:after{
	content:"]"
}
#tags a:before{
	content:"["
}
#tags a:after{
	content:"]"
}

article .meta{
	list-style:none;
	font-size:0.8em;
	margin:0 1em 0 0;
	padding:0;
	display:inline;
	color: gray;
}
article .meta li:first-child:before{
	content:"// ";
}
article .meta li{
	display:inline;
}
article .meta span{
	font-size:0.8em;
	vertical-align:super;
}
article .meta span:before{
	content:"(";
}
article .meta span:after{
	content:")";
}
aside ul{
	list-style: none;
}
aside li{
	display:inline-block;
	width:50%;
}
aside li a{
	padding:1em 2em;
}
aside time:after{
	content:"|";
}

#disqus_thread{
	margin:3em 0 0 0;
}

nav{
	position: fixed;
	left:0;
	right:0;
	bottom:1em;
	background: white;
}
nav ul{
	list-style: none;
	margin:0;
}
nav li{
	display: inline-block;
	border-right:0.1em solid silver;
}
nav li:last-child{
	border-right:none;
}
nav a{
	color: silver;
	text-decoration: none;
	display: inline-block;
	padding:0.2em 1em;
}
nav li:nth-child(6) a{
	padding:0.2em 0.5em;
}
nav a:hover{
	color: white;
	background: silver;
}

#copyright{
	position: fixed;
	left:0;
	right:0;
	bottom:0;
	padding:0 .2em;
	font-size:0.8em;
	background: silver;
	color:gray;
}
#copyright a{
	color: white;
	text-decoration: none;
	padding:.1em .2em;
}
#copyright a:hover{
	color: gray;
	background: white;
}


/*
修改自Typo.css。
TYPO.CSS 基于 MIT License 开源：http://typo.sofish.de/license.txt
*/

/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html {
    color: #444333;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-rendering: optimizelegibility;
}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
}

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

/* HTML5 媒体文件跟 img 保持一致 */
audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/* 要注意表单元素并不继承父级 font 的问题 */
body, button, input, select, textarea {
    font:500 0.875em/1.8 Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

/* 去除 IE6 input/button 多余的空白 */
button, input {
    *width: auto;
    *overflow: visible;

    /* 让 input 和 button 一样高 */
    line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* 去掉各Table  cell 的边距并让其边重合 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* IE bug fixed: th 不继承 text-align*/
th {
    text-align: inherit;
}

/* 去除默认边框 */
fieldset, img {
    border: 0;
}

/* 解决 IE6-7 图片缩放锯齿问题 */
img {
    -ms-interpolation-mode: bicubic;    
}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe {
    display: block;
}

/* 块/段落引用 */
blockquote {
    font-family:Optima, Georgia, STSong, serif;
    margin: 1em 0;
    color:#999;
    padding: 0.6em 1em;
    background:#f8f8f8;
    border-left: 0.4em solid #ddd;
}
blockquote blockquote {
    padding: 0 0 0 1em;
    margin-left: 2em;
}
blockquote p {
    margin-bottom: 0;
}

/* Firefox 以外，元素没有下划线，需添加 */
acronym, abbr {
    border-bottom: 1px dotted;
    font-variant: normal;
}

/* 添加鼠标问号，进一步确保应用的语义是正确的（要知道，交互他们也有洁癖，如果你不去掉，那得多花点口舌） */
abbr {
    cursor: help;
}

/* 一致的 del 样式 */
del {
    text-decoration: line-through;
}

address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: 400;
}

/* 对齐是排版最重要的因素, 别让什么都居中 */
caption, th {
    text-align: left;
}

q:before, q:after {
    content: '';
}

/* 统一上标和下标 */
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: text-top\9;
}
:root sub, :root sup{
    vertical-align: baseline; /* for ie9 and other mordern browsers */
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}

/* 让链接在 hover 状态下显示下划线 */
a:hover {
    text-decoration: underline;
}

/* 默认不显示下划线，保持页面简洁 */
ins, a {
    text-decoration: none;
}

/* 专名号：虽然 u 已经重回 html5 Draft，但在所有浏览器中都是可以使用的，
 * 要做到更好，向后兼容的话，添加 class="typo-u" 来显示专名号
 * 关于 <u> 标签：http://www.whatwg.org/specs/web-apps/current-work/multipage/text-level-semantics.html#the-u-element
 * 被放弃的是 4，之前一直搞错 http://www.w3.org/TR/html401/appendix/changes.html#idx-deprecated
 * 一篇关于 <u> 标签的很好文章：http://html5doctor.com/u-element/ 
 */
u {
    text-decoration: underline;
}

/* 标记，类似于手写的荧光笔的作用 */
mark {
    background: #fffdd1;
}

/* 代码片断 */
pre, code {
    font-family: "Courier New", Courier, monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
}
pre {
    background: #f8f8f8;
    border:1px solid #ddd;
    padding:.5em 1em;
}
code {
    border:1px solid #ddd;
    padding: 0 .5em;
}
pre>code{
    border:none;
    padding:0;
}
/* 一致化 horizonal rule */
hr{
    border:none;
    border-bottom:1px solid #cfcfcf;
    margin-bottom:10px;
    *color:pink;*filter:chroma(color=pink);
    height:10px;
    *margin:-7px 0 2px;
}

/* 底部印刷体、版本等标记 */
small, .typo-small, 
/* 图片说明 */
figcaption {
    font-size: 0.9em;
    color: #888;
}

/* 可拖动文件添加拖动手势 */
[draggable] {
    cursor: move;
}
/* 高亮选中 */
::-moz-selection {
    background:#08c;
    color:#fff;
}
::selection {
    background:#08c;
    color:#fff;
}
h1, h2, h3, h4, h5, h6{
    font-weight: 500;
    *font-weight: 800;
    font-family: Helvetica Neue, Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;
	color:silver;
}
h1,h2,h3,h4,h5,h6 {
    line-height:1;font-family:Arial,sans-serif;margin:1.2em 0 0.4em;
}
h1{
	font-size:3em;
	font-weight:bolder;
	text-align: center;
}

h2{font-size:1.6em;}
h3{font-size:1.4em;}
h4{font-size:1.2em;}
h5,h6{font-size:1em;}
a{
	color: gray;
}
p{
	text-indent: 2em;
}
p, pre, ul, ol, dl, form, hr {
    margin:1em 0 0.6em;
}
aside{
    margin:3em 0 0 0;
}

/* pygments.css */
.hll { background-color: #ffffcc }
.c { color: #408080; font-style: italic } /* Comment */
.err { border: 1px solid #FF0000 } /* Error */
.k { color: #008000; font-weight: bold } /* Keyword */
.o { color: #666666 } /* Operator */
.cm { color: #408080; font-style: italic } /* Comment.Multiline */
.cp { color: #BC7A00 } /* Comment.Preproc */
.c1 { color: #408080; font-style: italic } /* Comment.Single */
.cs { color: #408080; font-style: italic } /* Comment.Special */
.gd { color: #A00000 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #FF0000 } /* Generic.Error */
.gh { color: #000080; font-weight: bold } /* Generic.Heading */
.gi { color: #00A000 } /* Generic.Inserted */
.go { color: #888888 } /* Generic.Output */
.gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.gt { color: #0044DD } /* Generic.Traceback */
.kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.kp { color: #008000 } /* Keyword.Pseudo */
.kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.kt { color: #B00040 } /* Keyword.Type */
.m { color: #666666 } /* Literal.Number */
.s { color: #BA2121 } /* Literal.String */
.na { color: #7D9029 } /* Name.Attribute */
.nb { color: #008000 } /* Name.Builtin */
.nc { color: #0000FF; font-weight: bold } /* Name.Class */
.no { color: #880000 } /* Name.Constant */
.nd { color: #AA22FF } /* Name.Decorator */
.ni { color: #999999; font-weight: bold } /* Name.Entity */
.ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.nf { color: #0000FF } /* Name.Function */
.nl { color: #A0A000 } /* Name.Label */
.nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.nt { color: #008000; font-weight: bold } /* Name.Tag */
.nv { color: #19177C } /* Name.Variable */
.ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #666666 } /* Literal.Number.Float */
.mh { color: #666666 } /* Literal.Number.Hex */
.mi { color: #666666 } /* Literal.Number.Integer */
.mo { color: #666666 } /* Literal.Number.Oct */
.sb { color: #BA2121 } /* Literal.String.Backtick */
.sc { color: #BA2121 } /* Literal.String.Char */
.sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.s2 { color: #BA2121 } /* Literal.String.Double */
.se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.sh { color: #BA2121 } /* Literal.String.Heredoc */
.si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.sx { color: #008000 } /* Literal.String.Other */
.sr { color: #BB6688 } /* Literal.String.Regex */
.s1 { color: #BA2121 } /* Literal.String.Single */
.ss { color: #19177C } /* Literal.String.Symbol */
.bp { color: #008000 } /* Name.Builtin.Pseudo */
.vc { color: #19177C } /* Name.Variable.Class */
.vg { color: #19177C } /* Name.Variable.Global */
.vi { color: #19177C } /* Name.Variable.Instance */
.il { color: #666666 } /* Literal.Number.Integer.Long */