---
layout: nil
---
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% if page.type %}<link href="{{ site.url.production }}/assets/css/{{ page.type }}.css"  rel="stylesheet" />
<!--[if lt IE 9]><script src="assets/js/htmlshiv.js"></script><link href="{{ site.url.production }}/assets/css/{{ page.type }}-old.css"  rel="stylesheet"  /><![endif]-->
{% endif %}
<title>{{ page.title }}/{{ site.title }}</title>
</head>
<body>
{% include header.html %}
<section id="content">{{ content }}</section>
{% include footer.html %}
</body>
</html>