---
layout: nil
---
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--[if lt IE 9]><script src="assets/js/htmlshiv.js"></script><![endif]-->
<link href="{{ site.url.production }}/assets/css/mili.css"  rel="stylesheet" />
<title>{{ page.title }} @ {{ site.title }}</title>
</head>
<body id="{{ page.type }}">
<header id="siteinfo">
	<div id="title"><a title="title" href="{{ site.url.production }}" rel="me">{{ site.title }}</a></div>
	<p id="description">{{ site.description }}</p>
</header>
{{ content }}
{% include aside.html %}
</body>
</html>